/*------------------ fonts */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Encode+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

/*-------------------bg colors */A
}

.bg-color-footer {
    background-color: #3d3232;
}


/*-------------------colors */



/*-------------------header*/

header {
    margin: 0px;
    padding-bottom: 10px;
}

.logo {
    font-family: Bangers, sans-serif;
    font-size: 38px !important;
    text-decoration: none;
    font-family: Bangers, Sans-Serif;
    margin-left: 35px;
    color: white !important;
    letter-spacing: 1px;
}

.logo:hover {
    text-decoration: none;
    color: white;
}

li a {
    font-family: Bangers, sans-serif;
    letter-spacing: 2px;
    margin: 0px 5px 0px 5px;
    color: white !important;
}

.blurb h4 {
    font-family: Encode, sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    color: white
}

/*----------------------jumbotron*/


.sale h1 {
    font-family: Bangers, Sans-Serif;
    letter-spacing: 2px;
    line-height: 75px;    
}

.sale h5 {
    font-family: Encode 700, Sans-Serif;
    letter-spacing: 1px;
    line-height: 75px;
}

.sale-btn {
    font-family: Bangers, Sans-Serif;
    letter-spacing: 2px;
}

/*----------------------feat & Blog*/

.feat-blog {
    min-height: 200px;
}

.feature h2, .blog-home h2 {
    font-family: Bangers, Sans-Serif;
    text-align: center;
}

.feature p, .blog-home p {
    font-family: Encode, Sans-Serif;
    text-align: center;
    font-size: 18px;
}


/*------------------------footer*/

footer {
    min-height: 120px;
}

.general-sub {
    font-family: Bangers, sans-serif;
    color: white;
}

.inline-block {
    font-family: Encode, sans-serif;
    color: white;
    display: inline-block;
    
}

.fab, .fas {
    color: skyblue;
    font-size: 30px;
}